*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.headings{  /*kod tekrarına düşmemek için tüm h1 leri burda tanımladık*/
    text-align: center;
    padding: 20px;
    font-size: 30px ;
}
.navbar{
    display: flex;
    background-color: silver;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navbar ul {
    display: flex;
    list-style-type : none;
}
.navbar ul li {
    margin: 10px;
    font-weight: bold;
}
.navbar ul li a{
color: black;
text-decoration: none;
}
.navbar ul li a:hover{
color:blanchedalmond;
   }
#home{    /* id kısmına erşimek için diyez kullanılır*/
    background-color: red;
    height: 500px;
    background-image: url("resimler/kurumsal.jpg");
    background-position: center;
    display: flex;
    justify-content: center; /*yazıyı ortalama*/
    align-items: center; /*dikeyde ortalama*/
}
#home .main{
    text-align: center;
}
#home .main h1{
    font-size: 30px;
}
#about{
    display: flex;
    flex-direction: column ;
}
#about h1{
    text-align: center;
    padding: 20px;
    font-size: 30px ;
}
 #about .about-img{
     display: flex;
     padding: 20px;
     margin: 10px;
 }
#about .about-img img {
    width: 600px;
    height: 300px;
    margin-right: 20px;
}
#about .about-img .about-text {
    display: flex;
    flex-direction: column;
    text-align: justify; /*yazıyı sağa sola yaslıyor*/
}
#service {
    display: flex;
    flex-direction: column;
}
#service h1 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
#service .row {
    display: flex;
}
#service .row .box{
    border: 1px solid black;
    background: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 10px;
    width: 280px;
    height: 500px;
    margin: auto;
    border-radius: 15px; 
}
#service .row .box img{
    width: 50px;
    height: 50px;
}
#service .row .box h1{
    text-align: center;
    padding: 20px;
}
#contact {
    display: flex;
    flex-direction: column;
    background: cadetblue;
    margin-top: 20px;

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width : 30%;
    margin: 10px;
    padding: 12px;
    outline: none;
    border: none;
}
textarea{
    width: 30%;
    padding: 12px;
    margin: 10px;
    outline: none;
    border: none;
}
#gönder {
    width: 120px;
    height: 40px;
}
.footer {
    background-color: silver;
    height: 75px;
    width: 100%;
    text-align: center;
    line-height: 75px;
    font-weight: bold;
}
@media screen and (max-width: 840px ) {
    .navbar{
        flex-direction: column;
    }
    #about .about-img {
        flex-direction: column;
        align-items: center;
    }
    #about .about-img img {
        width: 500px;
        height: 300px   ;
    }
    #about .about-img .about-text h2 {
        text-align: center;
        padding: 10px;
    }

#service .row{
    flex-direction: column;
}
#service .row .box{
    width: 60%;
    height : 50% ;
    margin-top: 10px;
}
input{
    width: 50%;
}
textarea{
    width: 50%;
}
#gönder{
    width: 50%;
}
}




























